<!doctype html>
<html>
    <head>
        <title>Client - DS2023_CLB</title>
    </head>
    <body>
        <h1>Create a payload!</h1>
        <form method="post" action="/">
            <input type="submit" name="generate_payload" value="Generate Payload">
            <pre><div>{{ generated_payload }}</div></pre>
            <input type="submit" name="send_payload" value="Send Payload">
        </form>
        <h2>Payloads</h2>
        {% for payload in payloads %}
        <table>
            <thead><tr><th>Hash</th><th>Payload</th><th>Result</th></tr></thead>
            <tbody>
                <tr><td>{{ payload.hash }}</td><td><pre>{{ payload.payload }}</pre></td><td>{{ payload.result }}</td></tr>
            </tbody>
        </table>
        <!--<pre><div><p>{{ payload.hash }}: <b>{{ payload.payload }}</b>: <b>{{ payload.result }}</b></p></div></pre>--->
        {% endfor %}
    </body>
</html>